@import 'bootstrap/scss/bootstrap';

@import 'leaflet/dist/leaflet';

@import "bootstrap-icons/font/bootstrap-icons.css";

/*@import "bootstrap/scss/utilities";

$utilities: (
  "height": (
    property: height,
    class: h,
    values: (
      10: 10%,
      15: 15%,
      20: 20%
    )
  )
);

$utilities: (
  "width": (
    property: width,
    class: w,
    values: (
      10: 10%,
      15: 15%,
      20: 20%
    )
  )
);*/

/* default */