{"openapi":"3.0.2","info":{"title":"SweetAPI","description":"","termsOfService":"","contact":{"name":"","url":"","email":""},"license":{"name":"","url":""},"version":"1.0.0"},"servers":[{"url":"http://api.docker.space:8883","description":"Server di test"}],"paths":{"/api/map/markers/data":{"get":{"tags":["ApiMapEndpoints"],"operationId":"map_markers_data_###_get","parameters":[{"$ref":"#/components/parameters/Latitude"},{"$ref":"#/components/parameters/Longitude"},{"$ref":"#/components/parameters/Radius"},{"$ref":"#/components/parameters/Sizer"},{"$ref":"#/components/parameters/Locale"}],"responses":{"422":{"$ref":"#/components/responses/InvalidParams"},"500":{"$ref":"#/components/responses/InternalError"},"200":{"$ref":"#/components/responses/ApiResult"}},"x-endpoints":"ApiMapEndpoints::markersData"}},"/api/map/marker/exps/data":{"get":{"tags":["ApiMapEndpoints"],"operationId":"map_marker_exps_data_###_get","parameters":[{"$ref":"#/components/parameters/Latitude"},{"$ref":"#/components/parameters/Longitude"},{"$ref":"#/components/parameters/Radius"},{"name":"expId","in":"query","description":"UUID dell'esperienza","required":true,"schema":{"type":"string"}},{"name":"providerId","in":"query","description":"UUID del provider (richiesto se mode == \"provider\")","schema":{"type":"string"}},{"name":"mode","in":"query","description":"Modalità di ricerca dati","required":true,"schema":{"enum":["explore","exp","provider"],"type":"string"}},{"$ref":"#/components/parameters/Sizer"},{"$ref":"#/components/parameters/Locale"}],"responses":{"422":{"$ref":"#/components/responses/InvalidParams"},"500":{"$ref":"#/components/responses/InternalError"},"200":{"$ref":"#/components/responses/ApiResult"}},"x-endpoints":"ApiMapEndpoints::markerExpsData"}},"/api/map/providers/search":{"get":{"tags":["ApiMapEndpoints"],"operationId":"map_providers_search_###_get","parameters":[{"name":"search","in":"query","description":"Nome del provider da cercare","required":true,"schema":{"type":"string"}}],"responses":{"422":{"$ref":"#/components/responses/InvalidParams"},"500":{"$ref":"#/components/responses/InternalError"},"200":{"$ref":"#/components/responses/ApiResult"}},"x-endpoints":"ApiMapEndpoints::providersSearch"}},"/api/map/exps/search":{"get":{"tags":["ApiMapEndpoints"],"operationId":"map_exps_search_###_get","parameters":[{"name":"search","in":"query","description":"Nome dell'esperienza da cercare","required":true,"schema":{"type":"string"}}],"responses":{"422":{"$ref":"#/components/responses/InvalidParams"},"500":{"$ref":"#/components/responses/InternalError"},"200":{"$ref":"#/components/responses/ApiResult"}},"x-endpoints":"ApiMapEndpoints::expsSearch"}},"/api/map/provider/markers/data":{"get":{"tags":["ApiMapEndpoints"],"operationId":"map_provider_markers_data_###_get","parameters":[{"name":"providerId","in":"query","description":"UUID del provider","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/Sizer"},{"$ref":"#/components/parameters/Locale"}],"responses":{"422":{"$ref":"#/components/responses/InvalidParams"},"500":{"$ref":"#/components/responses/InternalError"},"200":{"$ref":"#/components/responses/ApiResult"}},"x-endpoints":"ApiMapEndpoints::providerMarkersData"}},"/api/map/exp/markers/data":{"get":{"tags":["ApiMapEndpoints"],"operationId":"map_exp_markers_data_###_get","parameters":[{"name":"expId","in":"query","description":"UUID dell'esperienza","required":true,"schema":{"type":"string"}},{"$ref":"#/components/parameters/Sizer"},{"$ref":"#/components/parameters/Locale"}],"responses":{"422":{"$ref":"#/components/responses/InvalidParams"},"500":{"$ref":"#/components/responses/InternalError"},"200":{"$ref":"#/components/responses/ApiResult"}},"x-endpoints":"ApiMapEndpoints::expMarkersData"}},"/api/map/exp/set/issue":{"post":{"tags":["ApiMapEndpoints"],"description":"Descrizione dell'operazione","operationId":"map_exp_set_issue_###_post","parameters":[],"requestBody":{"description":"Notifica problema per un'esperienza","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ExpIssueRequest"}}}},"responses":{"422":{"$ref":"#/components/responses/InvalidParams"},"500":{"$ref":"#/components/responses/InternalError"},"200":{"$ref":"#/components/responses/ApiResult"}},"x-endpoints":"ApiMapEndpoints::setExpIssue"}},"/api/idp/realm-info":{"get":{"tags":["ApiDataKeycloakEndpoints"],"operationId":"idp_realm_info_###_get","parameters":[{"$ref":"#/components/parameters/Realm"}],"responses":{},"x-endpoints":"ApiDataKeycloakEndpoints::realmInfo"}},"/api/idp/token/profile":{"get":{"tags":["ApiDataKeycloakEndpoints"],"operationId":"idp_token_profile_###_get","parameters":[],"responses":{},"x-endpoints":"ApiDataKeycloakEndpoints::tokenProfile"}},"/api/idp/proxy":{"get":{"tags":["ApiDataKeycloakEndpoints"],"operationId":"idp_admin_proxy_###_get","responses":{},"x-endpoints":"ApiDataKeycloakEndpoints::idpAdminProxy"},"put":{"tags":["ApiDataKeycloakEndpoints"],"operationId":"idp_admin_proxy_###_put","responses":{},"x-endpoints":"ApiDataKeycloakEndpoints::idpAdminProxy"},"post":{"tags":["ApiDataKeycloakEndpoints"],"operationId":"idp_admin_proxy_###_post","responses":{},"x-endpoints":"ApiDataKeycloakEndpoints::idpAdminProxy"},"delete":{"tags":["ApiDataKeycloakEndpoints"],"operationId":"idp_admin_proxy_###_delete","responses":{},"x-endpoints":"ApiDataKeycloakEndpoints::idpAdminProxy"},"options":{"tags":["ApiDataKeycloakEndpoints"],"operationId":"idp_admin_proxy_###_options","responses":{},"x-endpoints":"ApiDataKeycloakEndpoints::idpAdminProxy"},"head":{"tags":["ApiDataKeycloakEndpoints"],"operationId":"idp_admin_proxy_###_head","responses":{},"x-endpoints":"ApiDataKeycloakEndpoints::idpAdminProxy"},"patch":{"tags":["ApiDataKeycloakEndpoints"],"operationId":"idp_admin_proxy_###_patch","responses":{},"x-endpoints":"ApiDataKeycloakEndpoints::idpAdminProxy"},"trace":{"tags":["ApiDataKeycloakEndpoints"],"operationId":"idp_admin_proxy_###_trace","responses":{},"x-endpoints":"ApiDataKeycloakEndpoints::idpAdminProxy"}}},"components":{"schemas":{"ApiResponse":{"type":"object","description":"Risposta dell'API"},"ApiErrorResponse":{"type":"object","properties":{"error":{"type":"string","description":"Messaggio di errore"},"body":{"type":"object","description":"Dati inerenti l'errore"}},"description":"Risposta di errore dell'API"},"ExpIssueRequest":{"required":["expId","message"],"type":"object","properties":{"expId":{"type":"string","description":"UUID dell'esperienza"},"message":{"type":"string","description":"Messaggio dell'utente"}},"description":"Dati per la segnalazione di un problema"}},"responses":{"InvalidParams":{"description":"Parametri non validi","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"InternalError":{"description":"Errore interno","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiErrorResponse"}}}},"ApiResult":{"description":"Operazione eseguita","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiResponse"}}}}},"parameters":{"Realm":{"name":"realm","in":"query","description":"reame di riferimento","required":true,"schema":{"type":"string"}},"Latitude":{"name":"lat","in":"query","description":"latitudine","required":true,"schema":{"type":"number"}},"Longitude":{"name":"lng","in":"query","description":"longitudine","required":true,"schema":{"type":"number"}},"Radius":{"name":"radius","in":"query","description":"raggio","required":true,"schema":{"type":"integer"}},"Sizer":{"name":"sizer","in":"query","description":"dimensione","required":true,"schema":{"type":"string"}},"Locale":{"name":"locale","in":"query","description":"locale","required":true,"schema":{"type":"string"}}},"examples":{},"requestBodies":{},"headers":{},"securitySchemes":{"Bearer":{"type":"http","description":"Realm bearer token","scheme":"bearer","bearerFormat":"JWT"}},"links":{},"callbacks":{}},"security":[{"Bearer":[]}],"tags":[],"externalDocs":{"description":"","url":""},"x-routes":{"map_markers_data":"/api/map/markers/data","map_marker_exps_data":"/api/map/marker/exps/data","map_providers_search":"/api/map/providers/search","map_exps_search":"/api/map/exps/search","map_provider_markers_data":"/api/map/provider/markers/data","map_exp_markers_data":"/api/map/exp/markers/data","map_exp_set_issue":"/api/map/exp/set/issue","idp_realm_info":"/api/idp/realm-info","idp_token_profile":"/api/idp/token/profile","idp_admin_proxy":"/api/idp/proxy"}}